/*公用样式表，涵盖一些通用样式的取消*/
html{
	font-size: 50px;
}
body ,ul{
	margin: 0 0 ;
	padding: 0 0 ;
}
li{
	list-style: none;
}
a { 
	text-decoration:none ;
	out-line: none;
	color: #ffffff;
}
input{
	outline: none;
}
/*样式*/
